extra_configs/qutebrowser/qsettings/QtProject.conf
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform
/printer
!/printer/*/
/server
!/server/*/
/workstation
!/workstation/*/
/lab
!/lab/*/
result/
result
result-*
main/

extra_configs/OpenTabletDriver/Logs/
extra_configs/OpenSCAD/OpenSCAD.conf
extra_configs/OrcaSlicer/log
extra_configs/OrcaSlicer/cache
extra_configs/OrcaSlicer/ota
extra_configs/OrcaSlicer/hms
extra_configs/desktop_entries/chrome*
